* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 200dvh;
    background-color: aqua;
    border: dotted darkred;
}